.screen {
    display: flex;
}

.container {
    width: 13%;
    min-height: 460px;
    background-color: #444444;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    position: relative;
}

.light {
    border: 1px solid #ffffff;
    width: 70%;
    min-height: 120px;
    border-radius: 50%;
    background-color: #828288;
}

#switch {
    width: 70%;
    padding: 0.5rem 0;
    position: absolute;
    bottom: -38px;
    font-weight: 800;
    letter-spacing: 0.1rem;
}

.Btn:hover {
    background-color: #444444;
    color: #ffffff;
}